/* source: https://www.taniarascia.com/you-dont-need-a-framework/ */
/*! Reset Border Box */
html {
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  color: #040d40;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  color: #040d40;
}

a {
  text-decoration: none;
  color: #0339a6;
  font-weight: bold;
}

/* Desktop styles go here */
.master-grid {
  display: grid;
  background-color: #e5e5e5;
  grid-template-columns: 1fr repeat(4, 20%) 1fr;
  grid-template-rows: auto;
  row-gap: 2px;
  column-gap: 10px;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  grid-column-start: span 6;
}

.brand-name {
  font-family: "Give You Glory", cursive;
  font-size: 2rem;
  color: #0339a6;
  letter-spacing: 0.2rem;
  font-weight: bold;
  line-height: 0.25rem;
  padding-left: 2%;
  margin: 5px 0px 5px 0px;
  flex: 1;
}

header ul {
  display: flex;
}

header li {
  list-style-type: none;
  padding: 0 1rem;
}

main {
  margin: 0;
  padding: 0;
}
section::before,
section::after {
  display: table;
  content: " ";
  clear: both;
}

.hero-section {
  height: 33rem;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column-start: span 6;
}

.about-me {
  text-align: center;
  grid-column: 2 / span 4;
}
.about-me-header {
  grid-column: 2 / span 4;
}

.about-me-section {
  grid-column: 2 / span 4;
  display: flex;
  align-items: center;
}

.about-me-content {
  margin: 10px;
  padding: 0px 10px;
  line-height: 1.5rem;
  flex-grow: 1;
}

.quote-section {
  height: 10rem;
  font-family: "Give You Glory", cursive;
  font-size: 1.5rem;
  color: #0339a6;
  letter-spacing: 0.2rem;
  background-color: white;
  text-align: center;
  padding: 15px 10%;
  grid-column: 1 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education {
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr repeat(2, 3fr);
  justify-content: center;
}

.education-header {
  grid-column: 1 / span 4;
  grid-row: 1 / 2;
}

.education-items {
  background-color: white;
  margin: 0.5rem;
  text-align: center;
  border-radius: 50%;
  height: 17rem;
  width: 17rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figcaption {
  font-size: 0.5rem;
  font-weight: bold;
  padding: 1rem 0 0 0;
}

#edu-fau {
  grid-row: 2 / span 1;
  justify-self: center;
}
#edu-mit {
  grid-row: 2 / span 1;
  justify-self: center;
}
#edu-hpi {
  grid-row: 2 / span 1;
  justify-self: center;
}
#edu-su {
  grid-row: 2 / span 1;
  justify-self: center;
}
#edu-ga {
  grid-row: 3 / span 1;
  justify-self: center;
}
#edu-ca {
  grid-row: 3 / span 1;
  justify-self: center;
}
#edu-dh {
  grid-row: 3 / span 1;
  justify-self: center;
}
#edu-more {
  grid-row: 3 / span 1;
  justify-self: center;
}

.coding-skills {
  grid-column: 2 / span 4;
  margin: 2rem 0 1rem 0;
}

.coding-counter {
  grid-column: 2 / span 4;
  justify-self: center;
  margin-bottom: 3rem;
}

#skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contact-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-top: 15rem;
  padding-left: 2%;
  line-height: 0.2rem;
}
.hero-subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding-left: 2%;
}

h1 {
  font-family: "Give You Glory", cursive;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  color: #0339a6;
  line-height: 0.75;
}
h2 {
  font-family: "Give You Glory", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  color: #0339a6;
  padding-left: 2%;
  line-height: 0.75;
}
h3 {
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 40rem;
}

img.profile-photo {
  width: auto;
  height: 20rem;
  border-radius: 50%;
}

img.edu-organization-logo {
  width: auto;
  height: 3rem;
}

img.project-illustration {
  width: auto;
  height: 20rem;
}

i {
  color: #040d40;
}

.contact-section {
  grid-column: 2 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-cta {
  height: 60px;
  width: 200px;
  padding: 12px 20px;
  text-align: center;
  border: solid 1px #ffffff;
  border-radius: 4px;
  background-color: #ad9575;
  color: white;
  font-size: 1.25rem;
}

footer {
  grid-column: 1 / span 6;
  display: flex;
  padding: 1.5rem 0rem;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .copyright {
  flex-grow: 1;
  padding: 0 2%;
  margin: 5px 0px 5px 0px;
  color: white;
}

footer .location {
  padding: 0 2%;
  margin: 5px 0px 5px 0px;
  color: white;
}

.project-section {
  grid-column: 2 / span 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  margin-bottom: 3rem;
}

.project-header {
  grid-column: 1 / span 2;
}

.project-container {
  text-align: center;
  background-color: white;
  padding: 0 2rem;
  margin: 0 1rem;
}

.project-details {
  display: flex;
  justify-content: start;
  align-items: center;
}

.project-description {
  text-align: left;
  margin-left: 2rem;
}

#project-01,
#project-02 {
  display: none;
}

@media screen and (max-width: 1300px) {
  /* Laptop styles go here */

  .education {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(3, 3fr);
   justify-content: space-around;
}

img.profile-photo {
  height: 18rem;
}

.education-items {
  margin: 0rem;
  height: 17rem;
  width: 17rem;
  padding: 1rem 1rem;
}

.education-header {
  grid-column: 1 / span 3;
  grid-row: 1 / 2;
}

#edu-fau {
  grid-row: 2 / span 1;
}
#edu-mit {
  grid-row: 2 / span 1;
}
#edu-hpi {
  grid-row: 2 / span 1;
}
#edu-su {
  grid-row: 3 / span 1;
}
#edu-ga {
  grid-row: 3 / span 1;
}
#edu-ca {
  grid-row: 3 / span 1;
}
#edu-dh {
  grid-row: 4 / span 1;
}
#edu-more {
  grid-row: 4 / span 1;
}
}

@media screen and (max-width: 960px) {
  /* Tablet styles go here */
 body{
   font-size: 14px;
 }
  footer {
    flex-direction: column;
    text-align: center;
  }

  img.profile-photo {
  height: 17rem;
}

}

@media screen and (max-width: 800px) {
  /* Tablet styles go here */
 body{
   font-size: 12px;
 }

 img.profile-photo {
  height: 16rem;
}

.about-me-section {
  display: flex;
  flex-direction: column;
}

   .education {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(4, 2.75fr);
}

.education-items {
  margin: 0rem;
  height: 15rem;
  width: 15rem;
  padding: 1rem 1rem;
}

.education-header {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

#edu-fau {
  grid-row: 2 / span 1;
}
#edu-mit {
  grid-row: 2 / span 1;
}
#edu-hpi {
  grid-row: 3 / span 1;
}
#edu-su {
  grid-row: 3 / span 1;
}
#edu-ga {
  grid-row: 4 / span 1;
}
#edu-ca {
  grid-row: 4 / span 1;
}
#edu-dh {
  grid-row: 5 / span 1;
}
#edu-more {
  grid-row: 5 / span 1;
}

.project-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 3fr 3fr;
}

.project-container {
  margin: 1rem 1rem;
}

.project-header {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1
}

#project-03{
  grid-row: 2 / span 1;
}
#project-04{
  grid-row: 3 / span 1;
}

}

@media screen and (max-width: 480px) {
  /* Mobile styles go here */
    header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
  }

  .brand-name{
    margin-top: 20px;
    padding-left: 0;
  }

     .education {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr repeat(8, 3fr);
}

.education-items {
  margin: 0rem;
  height: 15rem;
  width: 15rem;
  padding: 1rem 1rem;
}

.education-header {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

#edu-fau {
  grid-row: 2 / span 1;
}
#edu-mit {
  grid-row: 3 / span 1;
}
#edu-hpi {
  grid-row: 4 / span 1;
}
#edu-su {
  grid-row: 5 / span 1;
}
#edu-ga {
  grid-row: 6 / span 1;
}
#edu-ca {
  grid-row: 7 / span 1;
}
#edu-dh {
  grid-row: 8 / span 1;
}
#edu-more {
  grid-row: 9 / span 1;
}

}
